recursive-exclude docker *
include versioneer.py
include ssh/_version.py
exclude .travis.yml
include LICENSE
include COPYING
include ssh/*.pyx
include ssh/*.pxd
include ssh/*.c
recursive-include libssh *
include _setup_libssh.py
