recursive-exclude docker *
include versioneer.py
include ssh/_version.py
exclude .travis.yml
include LICENSE
include ssh/*.pyx
include ssh/*.pxd
recursive-include libssh *
include ci/build_ssh.sh
include _setup_libssh.py
